<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
</head>
<body>
    <div>
        <h1>Task 2.1C - Section 1</h1>
        <h2>Exploring Vue 3</h2>
    </div>
    <div id="app1">
        <input type="text" v-model="enteredText" />
        <p v-if="!enteredText">No text entered</p>
        <p v-else>You entered text!</p>
        <br>
        <button @click="showDiv">Show div 1</button>
        <div v-show="clicked">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis eius illum quas itaque? Iusto ut quae minus veniam nostrum a dolorem qui, atque autem ipsam aspernatur iure reprehenderit at odit?</p>
        </div>
        <ul>
            <li v-for="fruit in fruits">{{ fruit }}</li>
        </ul>
        <ul>
            <li v-for="fruit in fruits" v-if="enteredText">{{ fruit }}</li>
        </ul>
    </div>
    
</body>
</html>