<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
</head>
<body>
    
    <div id="app">
        <h1>Enter your todo items!</h1>
        <div>
            <input v-model="itemName" @keyup.enter="createItem" type="text" placeholder="Item name" />
            <button @click="createItem">Create item</button>
        </div>
        <p v-if="noItemName">Please enter a name for your item!</p>
        <ul>
            <li v-for="(item, index) in items" @click="deleteItem(index)">{{ item }}</li>
        </ul>

    </div>
    
</body>
</html>